@using NotusJS.Views.Landing.Agency;
@model SkillsCardComponent

<div class="@Model.TopAlignmentClass w-full md:w-4/12 px-4 text-center">
    <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg">
        <div class="px-4 py-5 flex-auto">
            <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full @Model.IconBgColor">
                <i class="@Model.FabIconClass"></i>
            </div>
            <h6 class="text-xl font-semibold">
                @Model.RenderSlot(SkillsCardComponent.HeaderSlot)
            </h6>
            <p class="mt-2 mb-4 text-slate-500">
                @Model.RenderSlot(SkillsCardComponent.DescriptionSlot)
            </p>
        </div>
    </div>
</div>